body {
  position: relative;
  text-align: center;
}

#score {
  padding: 30px 0;
  text-align: center;
  font-family: 'Baumans', cursive;
}

p {
  font-size: 25px;
  background-color: #E7FFF4;
}

.unpopped {
  display: inline-block;
  height: 150px;
  width: 150px;
  background-size: contain;
  text-align: center;
  background-repeat: no-repeat;
  display: flex;
}

container {
  text-align: center;
}

.white {
  background-color: white;
}

.sphere {
  border: 1px solid #DCDCDC;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: 500%;
  position: relative;
  box-shadow: inset -10px -10px 100px #DCDCDC, 10px 10px 20px grey, inset 0px 0px 10px grey;
  display: inline-block;
  margin: 5%;

}
.sphere::after {
  background-color: rgba(255, 255, 255, 0.3);
  content: '';
  height: 45%;
  width: 12%;
  position: absolute;
  top: 4%;
  left: 15%;
  border-radius: 50%;
  transform: rotate(40deg);
}


.unpopped:active {
 transform: translateY(2%);
}


/* Background Gradient for Triadic Colors */
.gradient1
{
    background-color: #D7D9A4;
    /* For WebKit (Safari, Chrome, etc) */
    background: #D7D9A4 -webkit-gradient(linear, left top, left bottom, from(#FFE7FE), to(#D7D9A4)) no-repeat;
    /* Mozilla,Firefox/Gecko */
    background: #D7D9A4 -moz-linear-gradient(top, #FFE7FE, #D7D9A4) no-repeat;
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFE7FE, endColorstr=#D7D9A4) no-repeat;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFE7FE, endColorstr=#FFE7FE)" no-repeat;
}

/* Background Gradient for Triadic Colors */
.gradient2
{
    background-color: #B3D9A4;
    /* For WebKit (Safari, Chrome, etc) */
    background: #B3D9A4 -webkit-gradient(linear, left top, left bottom, from(#FFE7EE), to(#B3D9A4)) no-repeat;
    /* Mozilla,Firefox/Gecko */
    background: #B3D9A4 -moz-linear-gradient(top, #FFE7EE, #B3D9A4) no-repeat;
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFE7EE, endColorstr=#B3D9A4) no-repeat;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFE7EE, endColorstr=#FFE7EE)" no-repeat;
}

/*.newboard {
  display: none;
}*/

