body, .container2 {
  text-align: center;
  position: absolute;
}

#score {
  padding: 30px 0;
  text-align: center;
  font-family: 'Baumans', cursive;
}

p {
  font-size: 25px;
  background-color: #E7FFF4;
}

.cover {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 100;
}

/*.hidden{
  visibility:hidden;
}*/

.nocover {
    display: none;
}

.theend {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.unpopped {
  display: inline-block;
  height: 150px;
  width: 150px;
  background-size: contain;
  text-align: center;
  background-repeat: no-repeat;
  display: flex;
}

.white {
  background-color: white;
}


.sphere {
  border: 1px solid #DCDCDC;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: 500%;
  position: relative;
  box-shadow: inset -10px -10px 100px #DCDCDC, 10px 10px 20px grey, inset 0px 0px 10px grey;
  display: inline-block;
  margin: 5%;

}
.sphere::after {
  background-color: rgba(255, 255, 255, 0.3);
  content: '';
  height: 45%;
  width: 12%;
  position: absolute;
  top: 4%;
  left: 15%;
  border-radius: 50%;
  transform: rotate(40deg);
}

.unpopped:active {
 transform: translateY(2%);
}

/* Background Gradient for Triadic Colors */
.gradient1
{
    background-color: #D7D9A4;
    /* For WebKit (Safari, Chrome, etc) */
    background: #D7D9A4 -webkit-gradient(linear, left top, left bottom, from(#FFE7FE), to(#D7D9A4)) no-repeat;
    /* Mozilla,Firefox/Gecko */
    background: #D7D9A4 -moz-linear-gradient(top, #FFE7FE, #D7D9A4) no-repeat;
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFE7FE, endColorstr=#D7D9A4) no-repeat;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFE7FE, endColorstr=#FFE7FE)" no-repeat;
}

/* Background Gradient for Triadic Colors */
.gradient2
{
    background-color: #B3D9A4;
    /* For WebKit (Safari, Chrome, etc) */
    background: #B3D9A4 -webkit-gradient(linear, left top, left bottom, from(#FFE7EE), to(#B3D9A4)) no-repeat;
    /* Mozilla,Firefox/Gecko */
    background: #B3D9A4 -moz-linear-gradient(top, #FFE7EE, #B3D9A4) no-repeat;
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFE7EE, endColorstr=#B3D9A4) no-repeat;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFE7EE, endColorstr=#FFE7EE)" no-repeat;
}

html, body,
.container2 {
  width: 100%;
  height: 40%;

}
 
.confetti {
  z-index: 10;
  width: 15px;
  height: 15px;
  background-color: #f2d74e;
  position: absolute;
  left: 50%;
  -webkit-animation: confetti 5s ease-in-out -2s infinite;
          animation: confetti 5s ease-in-out -2s infinite;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
 
.confetti:nth-child(1) {
  background-color: #f2d74e;
  left: 10%;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
 
.confetti:nth-child(2) {
  background-color: #95c3de;
  left: 20%;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}
 
.confetti:nth-child(3) {
  background-color: #ff9a91;
  left: 30%;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}
 
.confetti:nth-child(4) {
  background-color: #f2d74e;
  left: 40%;
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
}
 
.confetti:nth-child(5) {
  background-color: #95c3de;
  left: 50%;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}
 
.confetti:nth-child(6) {
  background-color: #ff9a91;
  left: 60%;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}
 
.confetti:nth-child(7) {
  background-color: #f2d74e;
  left: 70%;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}
 
.confetti:nth-child(8) {
  background-color: #95c3de;
  left: 80%;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}
 
.confetti:nth-child(9) {
  background-color: #ff9a91;
  left: 90%;
  -webkit-animation-delay: -3.5s;
          animation-delay: -3.5s;
}
 
.confetti:nth-child(10) {
  background-color: #f2d74e;
  left: 100%;
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
}
 
@-webkit-keyframes confetti {
  0% {
    -webkit-transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
            transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  25% {
    -webkit-transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
            transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    -webkit-transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
            transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
  }
  75% {
    -webkit-transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
            transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
  }
  100% {
    -webkit-transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
            transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
  }
}
 
@keyframes confetti {
  0% {
    -webkit-transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
            transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  25% {
    -webkit-transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
            transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    -webkit-transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
            transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
  }
  75% {
    -webkit-transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
            transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
  }
  100% {
    -webkit-transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
            transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
  }
}